header {
    text-align: center;
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    color: coral;
    font-family: fantasy;
    font-size: 1.1em;
    margin: 0;
}

p{
color: darkmagenta;
font-size: medium;
}

.pituca img{
    border-style: double;
    border-color: coral;
    border-width: 4px;
    width: 10%;
    height: auto;
}
header {
    display: flex;
    justify-content: safe;
    align-content: space-around;
    align-items: center;
    text-align: center;
}
header div{
    width: 33.33%;
}
header div h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-content: center;     
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 4px;
    list-style-type: none;
    padding: 0%;
   
}
nav ul li{
    width: 100%;
    padding: 21px;
    text-align: center;
    margin-bottom: 4px;
    justify-content: space-between;
}
.cv {
    background-color: aquamarine; 
}
.cover{
    background-color: aqua;
  
}
.contact{
    background-color: burlywood;
}

.bandera {
    background-color: blue;
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}

.rojo1{
    background-color: red;
    width: 30%;
}

.rojo2{
    background-color: red;
    width: 70%;
}

.rojo3{
    background-color: red;
    width: 30%;
}

.rojo4{
    background-color: red;
    width: 70%;
}